/*--Eric Meyer Reset CSS--*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* Global
----------------------------------------------- */
html { height: 101%; overflow: scroll; }
body { 
font-family: helvetica, arial,  sans-serif;
font-size: 14px;
line-height: 1.5em;
margin: 0; 
padding: 0; 
color: #444;  
border-top: 4px solid #787730; 
}
hr { display: none; }

/* Structure
------------------------------------------------*/
#wrapper {
width: 960px;
margin: 0 auto;
}

.content {
width: 600px;
float: left;
clear: left;
}

aside {
float: left;
width: 320px;
display: block;
padding: 0 0 0 40px;
}

footer {
clear: both;
display: block;
}

nav,
header,
section {
display: block;
clear: both;
}

section {
margin-bottom: 16px;
}

.more {
float: right;
font-size: 11px;
text-decoration: underline;
}

/* Typography
-----------------------------------------------*/
h1 { 
font-size: 24px; 
line-height: 28px; 
font-family: Garamond, "Times New Roman", Georgia, serif;
}
h2, h2 a { 
font-family: Garamond, "Times New Roman", Georgia, serif;
font-size: 20px; 
line-height: 24px;
color: #FF964F;
border-bottom: 1px solid #efefef;
margin-bottom: 4px;
}

h2 a {
border: none;
}

h3 { 
font-size: 18px; 
line-height: 22px;
color: #FFCB7C;
}

h4 { font-size: 16px; line-height: 20px;}
h5 { font-size: 14px; line-height: 18px;}
h6 { font-size: 12px; line-height: 16px;}
a { color:#787730; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 1em 0; line-height: 1.7;}

/*Header
-----------------------------------------*/
header {
height: 85px;
display: block
}

header #logo {
float: left;
color: #787730;
margin-top: 8px;
border-bottom: 1px solid #eee;
}

header h1 {
font-size: 38px;
line-height: 42px;
font-weight: bold;
font-style: italic;
letter-spacing: .02em;
color: #990700;
}

header:after {
content:".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}


/*Search
--------------------------------------*/
header form {
float: right;
padding: 8px 0;
width: 560px;
}

header #search input {
width: 325px;
height: 25px;
line-height: 1;
border-width: 1px; 
border-style: solid; 
border-color: #636d77 #a3b4c4 #c7d2de;
float: left;
background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.24, rgb(247,247,247)),
    color-stop(0.55, rgb(242,242,242))
);
background:-moz-linear-gradient(
    center top,
   rgb(247,247,247) 24%,
    rgb(242,242,242) 55%
);
}

header #search input:focus {
border-color: #636d77;
background: #fff;
}

header #search {
float: right;
width: 450px;
margin-top: 20px;
}


header .split-button {
float: left;
margin: -1px 0 0 10px;
border: 1px solid#e4e4e4;
background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.24, rgb(247,247,247)),
    color-stop(0.55, rgb(242,242,242))
);
background:-moz-linear-gradient(
    center top,
    rgb(247,247,247) 24%,
    rgb(242,242,242) 55%
);
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 2px 2px 5px #eee;
-webkit-box-shadow: 2px 2px 5px #eee;
box-shadow: 2px 2px 5px #eee;
line-height: 30px;
height: 27px;
width:100px;
}


header .split-button .submit {
margin: 0 8px;
border-right: 1px solid #ddd;
padding-right: 8px;
}

header .split-button .dropdown {
font-size: 0;
text-indent: -9999px;
}


/* Nav 
-----------------------------------------------*/
nav ul {
float: left;
background: #fff;
width: 100%;
border-top: 1px solid #efefef;
border-left: 1px solid #efefef;
border-right: 1px solid #efefef;
margin-bottom: 10px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 5px;
border-radius-topleft: 5px;
border-radius-topright: 5px;
padding: 2px;
}

nav ul li:first-child {
margin-left: 3px;
}

nav ul li {
display: block;
float: left;
margin-right: 2px;
margin-top: 0;
line-height: 22px;
text-align: center;
width: 187px;
background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.24, rgb(247,247,247)),
    color-stop(0.55, rgb(242,242,242))
);
background:-moz-linear-gradient(
    center top,
    rgb(247,247,247) 24%,
    rgb(242,242,242) 55%
);
border: 1px solid #efefef;;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 5px;
border-radius-topleft: 5px;
border-radius-topright: 5px;
}

nav ul li.current {
background: #fff;
}

nav ul li a {
font-size: 15px;
}

#recipe-submit {
float: right;
width: 320px;
height: 40px;
line-height: 40px;
text-align: center;
display: block;
padding: 0 0 0 0;
margin: 0 0 16px 0;
background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.24, rgb(250,174,92)),
    color-stop(0.55, rgb(255,149,79))
);
background:-moz-linear-gradient(
    center top,
    rgb(250,174,92) 24%,
    rgb(255,149,79) 55%
);
border: 1px solid #faae5c;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 2px 2px 5px #eee;
-webkit-box-shadow: 2px 2px 5px #eee;
box-shadow: 2px 2px 5px #eee;
}

#recipe-submit a {
color: #fff;
}

/*Login / Register
----------------------------------------*/
#login input {
display: block;
margin: 8px 0;
}



/*Profile
-----------------------------------------*/
#profile {
border: 1px solid #efefef;
padding: 8px;
}

#profile #avatar {
float: left;
padding: 2px;
border: 1px solid #e3e3e3;
margin: 0 5px 5px 0;
}

#profile a {
margin-right: 4px;
padding-right: 4px;
border-right: 1px solid #e3e3e3;
}

/*Friends
----------------------------------------*/
#profile h4 {
margin-top: 8px;
border-bottom: 1px solid #efefef;
color: #888;
line-height: 14px;
}

#friends li {
display: block;
float: left;
padding: 2px;
border: 1px solid #e3e3e3;
margin: 4px 4px 4px 0;
}

#friends a {
display: block;
border: none;
}

#friends li img{
border: 1px solid #e3e3e3;
}

#friends ul:after {
content:".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

/*Containers
---------------------------------------*/
.list-mod {
margin-bottom: 16px;
display: block;
}

.list-mod h1 {
display: block;
border-bottom: 3px solid;
margin-bottom: 6px;
}

.list-mod h1 a {color: #444;}

.list-mod ol {
margin-left: 25px;
list-style-type: decimal;
}

.list-mod ul {
margin-left: 25px;
list-style-type: square;
}

/*Most Popular
---------------------------------------*/


/*Home page
----------------------------------------*/
#home #main-content {
width: 100%;
}

#home #profile {
float: right;
width: 304px;
}


#home #top-recipes-sorter {
margin-top: 4px;
clear: both;
border-bottom: 1px solid #e3e3e3;
margin-bottom: 8px;
}

#home #top-recipes-sorter h2{
display: inline;
border: none;
}

#home .sort-options {
float: right;
}

#home #top-recipes-sorter a {
padding: 0 8px;
display: inline-block;
border: 1px solid#e4e4e4;
background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.24, rgb(247,247,247)),
    color-stop(0.55, rgb(242,242,242))
);
background:-moz-linear-gradient(
    center top,
    rgb(247,247,247) 24%,
    rgb(242,242,242) 55%
);
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 2px 2px 2px #eee;
-webkit-box-shadow: 2px 2px 2px #eee;
box-shadow: 2px 2px 2px #eee;
}

.activity-module {
float: left;
clear: none;
margin: 0 0 16px 0;
width: 308px;
}

#message-board {
width: 300px;
margin: 0 20px 16px 16px;
}