/*--Eric Meyer Reset CSS--*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* Global
----------------------------------------------- */
html { height: 101%; overflow: scroll; }
body { margin: 0; padding: 0; color: #444; font: 14px/1.5 Garamond, "Times New Roman", Georgia, serif; border-top: 4px solid #444; }
hr { display: none; }

/* Structure
------------------------------------------------*/
#wrapper {
width: 960px;
margin: 0 auto;
}

.content {
width: 600px;
float: left;
clear: left;
}

aside {
float: left;
width: 320px;
display: block;
padding: 0 0 0 40px;
}

footer {
clear: both;
display: block;
}

nav,
header,
section {
display: block;
clear: both;
}

section {
margin-bottom: 16px;
}

.more {
float: right;
}

/* Typography
-----------------------------------------------*/
h1 { font-size: 24px; line-height: 28px; }
h2 { font-size: 20px; line-height: 24px;}
h3 { font-size: 18px; line-height: 22px;}
h4 { font-size: 16px; line-height: 20px;}
h5 { font-size: 14px; line-height: 18px;}
h6 { font-size: 12px; line-height: 16px;}
a { color: #c33; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 1em 0; line-height: 1.7;}

/*Header
-----------------------------------------*/
header {
height: 90px;
display: block
}

header h1 {
float: left;
font-size: 38px;
line-height: 42px;
font-weight: bold;
font-style: italic;
letter-spacing: .04em;
text-shadow: 2px 2px 2px #eee;
}

header:after {
content:".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}



/*Search
--------------------------------------*/
header form {
float: right;
padding: 8px 0;
width: 560px;
}

header input {
width: 325px;
height: 20px;
}


/* Nav 
-----------------------------------------------*/
nav ul {
float: left;
background: #fff;
width: 100%;
border-top: 1px solid #aaa;
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
margin-bottom: 8px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 5px;
border-radius-topleft: 5px;
border-radius-topright: 5px;
padding: 2px;
}

nav ul li {
display: block;
float: left;
margin-right: 2px;
margin-top: 0;
line-height: 40px;
text-align: center;
width: 170px;
background: #a1a1a1;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 5px;
border-radius-topleft: 5px;
border-radius-topright: 5px;
}

nav ul li.current {
background: #fff;
}

nav ul li a {
font-weight: bold;
text-shadow: 2px 2px 2px #b1b1b1;
font-size: 18px;
}

/*Login
----------------------------------------*/
#login input {
display: block;
margin: 8px 0;
}

/*Profile
-----------------------------------------*/
#profile #avatar {
float: left;
padding: 2px;
border: 1px solid;
margin: 0 5px 5px 0;
}

#profile a {
margin-right: 4px;
padding-right: 4px;
border-right: 1px solid #e3e3e3;
}

/*Friends
----------------------------------------*/
#friends li {
display: block;
float: left;
padding: 2px;
border: 1px solid #e3e3e3;
margin: 4px 4px 4px 0;
}

#friends a {
display: block;
border: none;
}

#friends li img{
border: 1px solid #e3e3e3;
}

#friends ul:after {
content:".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

/*Containers
---------------------------------------*/
.list-mod {
margin-bottom: 16px;
display: block;
}

.list-mod h1 {
display: block;
border-bottom: 3px solid;
margin-bottom: 6px;
}

.list-mod h1 a {color: #444;}

.list-mod ol {
margin-left: 25px;
list-style-type: decimal;
}

.list-mod ul {
margin-left: 25px;
list-style-type: square;
}

/*Most Popular
---------------------------------------*/


/*Home page
----------------------------------------*/
#main-content {
width: 100%;
}

#recipe-submit {
float: right;
width: 320px;
height: 40px;
line-height: 40px;
text-align: center;
display: block;
padding: 0 0 0 0;
margin: 0 0 16px 0;
border: 1px solid;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 3px 3px 4px #ccc;
-webkit-box-shadow: 3px 3px 4px #ccc;
box-shadow: 3px 3px 4px #ccc;
}

#profile {
float: right;
width: 320px;
}


#top-recipes-sorter {
margin-top: 8px;
clear: both;
}

#top-recipes-sorter h2{
display: inline;
margin-right: 422px;
}

#top-recipes-sorter a {
padding: 0 8px;
display: inline-block;
border: 1px solid#b4b4b4;
background: #e3e3e3;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 3px 3px 4px #ccc;
-webkit-box-shadow: 3px 3px 4px #ccc;
box-shadow: 3px 3px 4px #ccc;
}