<!DOCTYPE html>
<html>
  <head>
      <title>{{ app_name }}{% block title %}{% endblock %}</title>
      {% block javascript %}
          <!--[if lt IE 9]>
              <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
      {% endblock %} 
      <link rel="stylesheet" href="{% block site_url %}{{ site_url }}{% endblock %}/css/styles.css" type="text/css" />
  </head>
  <body id="{%block pageId%}{%endblock%}">
      <div id="wrapper">
    	<header>
    		<span id="logo">
            <h1>{{ app_name }}</h1>
            <h5>Are you up to the challenge?</h5>
            </span>
	    	<form id="search">
			  <input name="search" type="search" placeholder="Find Recipes, Tutorials, and Friends">
			  <div class="split-button">
			  	<a href="#" class="submit">Search</a>
			  	<a href="#" class="dropdown">Arrow</a>
			  </div>
			</form>
    	</header>
<!--End Header template-->

<!--Start Nav template-->
  		{% include "nav.html" %}
<!--End Nav template-->
		<section id="main-content" class="content">
	        <!--Start Article-->
	        {% block article %}{% endblock %}
	        <!--End Article Template-->
        </section>
 <!--Right Column Article Template-->
    	{% block rightColumn %}{% endblock %}<!--End Right Column Article Template-->
<!--Start Footer Template-->
    	<footer>
	    	{% include "nav.html" %}
    	</footer>
    </div>
<!--End Footer Template-->
<!--Bottom Template--->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    {% block jsincludes %}{% endblock %}
    <script>
		{% block javaScript %}{% endblock %}
        var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
        document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
        RPXNOW.overlay = true;
        RPXNOW.language_preference = 'en';
    </script>
  </body>
</html>
<!--End Bottom Template-->
