<!DOCTYPE html>
<html>
  <head>
      <title>Recipe Wars - {% block title %}{% endblock %}</title>
      {% block javascript %}
          <!--[if lt IE 9]>
              <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
      {% endblock %}
      <script src="{{ site_url }}/js/modernizr.custom.16936.js"></script> 
      <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ site_url }}/css/styles.css" type="text/css" />
      <link rel="stylesheet" href="{{ site_url }}/css/jquery-ui-1.8.15.custom.css" type="text/css" />
  </head>
  <body id="{%block pageId%}{%endblock%}">

    	<header>
    	<div id="headerwrap">
    		<span id="logo">
            <h1><a href="/" title="home">Recipe Wars</a></h1>
            <h5>We want you!</h5>
            </span>
            {% if submissionsOpen %}
            <h2 id="recipe-submit"><a href="{% if user.is_authenticated %}/submit{% else %}/accounts/login{% endif %}">Join The Battle Submit a Recipe</a></h2>
            {% endif %}
	    </div>	
    	</header>
    	{% include "nav.html" %}
<!--End Header template-->
	  <div id="wrapper">
<!--Start Nav template-->
  		
<!--End Nav template-->
		<section id="main-content" class="content">
	        <!--Start Article-->
	        {% block content %}{% endblock %}
	        <!--End Article Template-->
        </section>
 <!--Right Column Article Template-->
    	{% block rightColumn %}{% endblock %}<!--End Right Column Article Template-->
<!--Start Footer Template-->
    	 <div class="clearfix"></div>
    </div>
    <footer id="site-footer">
	    	<section id="dialog"></section>
    </footer>
    
<!--End Footer Template-->
<!--Bottom Template--->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    {% block jsincludes %}{% endblock %}
    <script>
{% block javaScript %}{% endblock %}
		{% if messages %}
			$(function() {
				var dialog = $( "#dialog" );
				var html = "<ul>";
				{% for message in messages %}
					html += "<li>{{ message|safe }}</li>";
				{% endfor %}
					html += "</ul>";
				$( "#dialog" ).html(html).dialog({"title":"Recipe Wars!","modal":true});
			});
		 {% endif %}


    </script>
  </body>
</html>
<!--End Bottom Template-->
