<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{{ app_name }}{% endblock %}</title>
  </head>
  <body>
      <div id="wrapper">
    	<header>
            <h1>{{ app_name }}</h1>
	    	<form>
			  <input name="search" type="search" placeholder="Search For Tasty Recipes">
			  <input type="submit" value="Search">
			</form>
    	</header>
<!--End Header template-->

<!--Start Nav template-->
  		<nav>
    	  <ul>
		    <li><a href="/" title="Home">Home</a></li>
		    <li><a href="/recipes" title="Recipes" id="current">Recipes</a></li>
		    <li><a href="/submit" title="submit recipes">Submit Recipe</a></li>
		  </ul>
    	</nav>
<!--End Nav template-->
        <!--Start Article-->
        {% block article %}{% endblock %}
        <!--End Article Template-->
 <!--Right Column Article Template-->
    	<aside>
    		<section id="login">
    		<a href="/profiles/register">Register</a>
    		<form>
    			<input name="username" autofocus placeholder="User Name">
    			<input name="password" type="password">
    			<input type="submit" value="Login">
    		</form>
    		</section>
    		<section id="profile">
    			<img src="" id="avatar" />
    			<h1>Hello, User Name</h1>
    			<a href="/profile/username" title="profile">Profile</a>
    			<a href="/profile/shopping-list" title="shopping list">Shopping List</a>
    			<a href="/profile/saved-recipes" title="your favorite recipes">Your Favorite Recipes</a>
    			<section id="friends">
    				<h1>Your Favorite Chefs</h1>
    				<ul>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    				</ul>
    				<a href="/profile/username/friends" title="all friends">See all</a>
    			</section>
    		</section>
    		<section id="most-pop" class="list-mod">
    			<h1><a href="/recipes/most-popular">Most Popular ##Section-Title Recipes</a></h1>
    			<ol>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">This is making me hungry</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Salsa</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Burritos</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Enchilada</a></li>
    			</ol>
    			<a href="/recipes/most-popular">More Recipes</a>
    		</section>
    		<section id="tags" class="list-mod">
    			<h1>Recipe Tags</h1>
    			<ul>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Tasty</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Quick</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Wonderful</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Curry</a></li>
    			</ul>
    		</section>
    		<section id="recipe-submitors" class="list-mod">
    			<h1><a href="/profiles/submitorsname/recipes">Other Recipes By ##Submitors-Name</a></h1>
    			<ul>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Really good food</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Food</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Pizza?</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Lasagna</a></li>
    			</ul>
    			<a href="/profiles/submitorsname/recipes">More Recipes</a>
    		</section>
    		<section id="recipe-submitors" class="list-mod">
    			<h1><a href="/profiles/top-submitors">Top ##Section-Title Recipe Submitors</a></h1>
    			<ul>
    				<li><a href="/profile/username/wall" title="user name">King Shit</a></li>
    				<li><a href="/profile/username/wall" title="user name">Ninja Bear</a></li>
    				<li><a href="/profile/username/wall" title="user name">Freedom Justice</a></li>
    				<li><a href="/profile/username/wall" title="user name">Jesus Saves</a></li>
    			</ul>
    			<a href="/profiles/top-submitors">More Submitors</a>
    		</section>
    		
    	</aside>
<!--End Right Column Article Template-->
<!--Start Footer Template-->
    	<footer>
	    	<nav>
	    	  <ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/recipes">Recipes</a></li>
			    <li><a href="/submit">Submit Recipe</a></li>
			  </ul>
	    	</nav>
    	</footer>
    </div>
<!--End Footer Template-->
<!--Bottom Template--->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>

  </body>
</html>
<!--End Bottom Template-->
