<nav>

	<ul>
		<li><a href="/" title="Home" class="" rel="bookmark">Home</a></li>
		{% if currentTheme %}
		<li><a href="/leaders" title="Home" class="" rel="bookmark">Overall Leaders</a></li>
		<li><a href="/leaders/ingredient-use/" title="Home" class="" rel="bookmark">Ingredient Leaders</a></li>
		<li><a href="/leaders/theme-use/" title="Home" class="" rel="bookmark">Theme Use Leaders</a></li>
		{% endif %}
		<li><a href="/themes" title="Past Themes" class="" rel="bookmark">Past Themes</a></li>
	</ul>

</nav>