{# A single recipe page #}
{% extends "base.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block article %}
{% load thumbnail %}
<article class="hrecipe" class="content">
	<section id="media">
		{% for photo in recipe.photos.all %}
			<img src="{{ photo.photo.url|thumbnail:"200x300" }}" alt="{{ recipe.name }}" class="photo"/>
		{% endfor %}
    </section>
    <a href="/vote?id={{ recipe.id }}" title="like this recipe" class="Yum">{{ recipe.votes }}</a>
    <h1 class="fn">{{ recipe.name }}</h1>
    <h3 class="yield">{{ recipe.yield }}</h3>
	<p class="author">{{ recipe.submitor.username }}</p>
    {% if recipe.duration %}
        <p class="duration"><span class="value-title" title="PT1H30M"> </span>{{ recipe.duration }}</p>
    {% endif %}
    <section id="ingredients">
        <h1>Ingredients</h1>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li class="inrgedient">
                    <span class="value">{{ ingredient.value }}</span>
                    <span class="type">{{ ingredient.type }}</span>
                    {{ ingredient.name }}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section id="directions">
        <h1>Directions</h1>
        <ol class="instructions">
            {{ recipe.instructions }}
        </ol>
    </section>
    <section id="comments">
    {% if user.is_authenticated %}
    {% load comments %}
    
    	<h1>Comments</h1>
    	
    	{% get_comment_form for recipe as form %}
    	
	    <form action="{% comment_form_target %}" method="POST">{% csrf_token %}
	    	<input type="hidden" name="next" value="/recipes/recipe/{{ recipe.url }}" />

	    	{% for field in form %}
	    		{% if field.is_hidden %}
	    			{{ field }}
	    		{% endif %}
	    	{% endfor %}
	    	
	    	<input type="hidden" name="name" value="{{ user.username }}" />
	    	<input type="text" name="honeypot" size="64" style="display:none;" />
	    	<label for="id_comment">Comment</label>
	    	<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
	    	<input type="submit" name="submit" class="submit-post" value="Post Comment" />
		</form>
    	{% get_comment_list for app.recipe recipe.id as comment_list %}
    	{% for comment in comment_list %}
        <article>
            <p><h3 class="username">{{ comment.user.username }}</h3> said:</p>
            <p>{{ comment.comment|escape|urlizetrunc:40|linebreaks }}</p>
        </article>
        {% endfor %}
    
    {% else %}
		<p><a href="/login/">Please login to comment.</a></p>
    {% endif %}
    </section>
</article>
{% endblock article %}
{% block rightColumn %}
{% include "standard-right-column.html" %}
{% endblock rightColumn %}
