{# Renders a list of recipes available #}
<article class="recipe_list hfeed">
	{% load thumbnail %}
    {% if recipes|length > 0 %}
        <h1 class='section-title'>Recipes</h1>
        <ul>
            {% for recipe in recipes %}
                    <li class="hentry">
                    	
                    	{% for photo in recipe.photos.all %}
			                <a href="/recipes/recipe/{{ recipe.url }}" title="{{ recipe.name }}" class="fn" rel="bookmark"><img src="{{ photo.photo.url|thumbnail:"100x100" }}" alt="{{ recipe.name }}" class="photo"/></a>
			            {% endfor %}
			            <span class="content">
			            <p class="author">Chef: {{ recipe.submitor.username }}'s</p>
            			<h2 class="entry-title"><a href="/recipes/recipe/{{ recipe.url }}" title="{{ recipe.name }}" class="bookmark" rel="bookmark">{{ recipe.name }}</a>{% include "vote.html" %}</h2>
            			
            			
            			<p class="entry-summary">{{recipe.summary|truncatewords:30}}</p>
            			<ul class='tags'>
            				<li>Tags:</li>
            			{% for tag in recipe.tags.all %}
			            	<li><a href="" rel="bookmark">{{ tag.name }}</a>,</li>
			            {% endfor %}
			            </ul>
			            </span>
            		</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="empty-search">No recipes found.</h3>
    {% endif %}
</article>
