{# Renders a list of recipes available #}
<article class="recipe_list">
    {% if recipes|length > 0 %}
        <h1>Recipes:</h1>
        <ul>
            {% for recipe in recipes %}
                {% for photo in recipe.photos.all %}
                    <li class="recipe"><img src="{{ photo.photo.url }}" alt="{{ recipe.name }}" />{{ recipe.name }}<a href="#" title="like this recipe" class="Yum">Yummy!</a><p class="summary">{{recipe.summary}}</p><span class="comments-count">{{recipe.commentsCount}}</span></li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="empty-search">No recipes found.</h3>
    {% endif %}
</article>
