{# A single recipe page #}
{% extends "base.html" %}
{% block title %}{{ block.super }} - {{ name }}{% endblock %}
{% block article %}
<article class="hrecipe" class="content">
    <h1 class="fn">{{ recipe.name }}</h1>
    {% if recipe.yield %}<h3 class="yield">{{ recipe.yield }}</h3>{% endif %}
    {% if recipe.author %}<p class="author">{{ recipe.author }}</p>{% endif %}
    {% if recipe.duration %}<p class="duration"><span class="value-title" title="PT1H30M"> </span>{{ recipe.duration }}</p>{% endif %}
    <section id="ingredients">
        <h1>Ingredients</h1>
        <ul>
            <li class="inredient"><span class="value">12</span><span class="type">tsp</span> Pepper</li>
            <li class="inredient"><span class="value">12</span><span class="type">tsp</span> Pepper</li>
            <li class="inredient"><span class="value">12</span><span class="type">tsp</span> Pepper</li>
            <li class="inredient"><span class="value">12</span><span class="type">tsp</span> Pepper</li>
        </ul>
    </section>
    <section id="directions">
        <h1>Directions</h1>
        <ol class="instructions">
            <li>Open box</li>
            <li>Add water</li>
            <li>Cook</li>
            <li>Pray it turns out!</li>
        </ol>
    </section>
    <section id="media">
        <img src="" alt="" height="" width="" class="photo"/>
        <p></p>
        <ul id="gallery">
            <li><img src="" alt="" height="" width="" /></li>
            <li><img src="" alt="" height="" width="" /></li>
            <li><img src="" alt="" height="" width="" /></li>
        </ul>
    </section>
    <section id="comments">
        <article>
            <h3 class="username"></h3>
            <p></p>
            <span class="posted"></span>
        </article>
    </section>
</article>
{% endblock article %}
