{# Renders a list of recipes available #}

<section class="recipe_list hfeed">
	{% load thumbnail %}
    {% if recipes|length > 0 %}
    	{% load pagination_tags %}
		{% autopaginate recipes %}
        <h1 class='section-title'>{{ sectiontitle }}</h1>
        <ul class="{% if not showImages%}no-images{% endif %}">
            {% for recipe in recipes %}
                    <li class="hentry {% if showImages and recipe.photos.all %}w-images{% else %}n-images{% endif %}">
                    	
                    	{% if showImages %}
                    	{% for photo in recipe.photos.all|slice:":1" %}
                    		{% thumbnail photo.photo "100x100" crop="center" as im %}
			                <a href="{{ recipe.get_absolute_url }}" title="{{ recipe.name }}" class="fn" rel="bookmark"><img src="{{ im.url }}" alt="{{ recipe.name }}" width="{{ im.width }}" height="{{ im.height }}" class="photo"/></a>
			                {% endthumbnail %}
			            {% empty %}
			            {% endfor %}
			            {% endif %}
			            <span class="content">
			            <h2 class="entry-title"><a href="{{ recipe.get_absolute_url }}" title="{{ recipe.name }}" class="bookmark" rel="bookmark">{{ recipe.name }}</a></h2>
			            <p class="author">{{recipe.submitor.get_profile.chefRank.name }}: <a href="/profiles/{{recipe.submitor.username}}" title="link to profile page" class="userName">{{recipe.submitor.username}}'s</a></p>
			            <p class="entry-summary">{{recipe.summary|truncatewords:30}}</p>
			            {% include "tags_snippet.html" %}
			            
						{% if show_score %}
							{% include "recipe_score.html" %}
						{% endif %}
			            </span>
			            
            		</li>
            {% endfor %}
        </ul>
        {% paginate %}
    {% else %}

    {% endif %}
    
</section>
