    	<aside>
    		<h2 id="recipe-submit"><a href="{% if user.is_authenticated %}/submit{% else %}/account/login{% endif %}">Submit a Recipe</a></h2>
    		<section id="profile">
    			<img src="" id="avatar" />
                <h3>Hello, {{ user.username }}</h3>
    			<a href="/profile/username" title="profile">Profile</a>
    			<a href="/profile/shopping-list" title="shopping list">Shopping List</a>
    			<a href="/profile/saved-recipes" title="your favorite recipes">Your Favorite Recipes</a>
    			<section id="friends">
    				<h4>Your Favorite Chefs</h4>
    				<ul>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    				</ul>
    				<a href="/profile/username/friends" title="all friends" class="more">See all</a>
    			</section>
    		</section>
    		<section id="most-pop" class="list-mod">
    			<h2><a href="/recipes/most-popular">Most Popular ##Section-Title Recipes</a></h2>
    			<ol>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">This is making me hungry</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Salsa</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Burritos</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Enchilada</a></li>
    			</ol>
    			<a href="/recipes/most-popular" class="more">More Recipes</a>
    		</section>
    		<section id="tags" class="list-mod">
    			<h2>Recipe Tags</h2>
    			<ul>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Tasty</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Quick</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Wonderful</a></li>
    				<li class="tag"><a href="/search?tag=tag-name" title="Tag Name">Curry</a></li>
    			</ul>
    		</section>
    		<section id="recipe-submitors" class="list-mod">
    			<h2><a href="/profiles/submitorsname/recipes">Other Recipes By ##Submitors-Name</a></h2>
    			<ul>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Really good food</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Food</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Pizza?</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Lasagna</a></li>
    			</ul>
    			<a href="/profiles/submitorsname/recipes" class="more">More Recipes</a>
    		</section>
    		<section id="recipe-submitors" class="list-mod">
    			<h2><a href="/profiles/top-submitors">Top ##Section-Title Recipe Submitors</a></h2>
    			<ul>
    				<li><a href="/profile/username/wall" title="user name">King Shit</a></li>
    				<li><a href="/profile/username/wall" title="user name">Ninja Bear</a></li>
    				<li><a href="/profile/username/wall" title="user name">Freedom Justice</a></li>
    				<li><a href="/profile/username/wall" title="user name">Jesus Saves</a></li>
    			</ul>
    			<a href="/profiles/top-submitors" class="more">More Submitors</a>
    		</section>
    		
    	</aside>
