{# The recipe submission page #}
{# A single recipe page #}

{% extends "base.html" %}
{% block title %}{{ block.super }} - {{ name }}{% endblock %}
{% block article %}
	<section id="upload-form" class="content">
		<h1 id="instructions">Hello %Username welcome to the upload page, what kind of recipe do you have today?</h1>
		<div id="input_selection">
			<h3><a href="#" title="recipe from another site" id="external">A recipe from another site (URL)</a></h3>
			<h3><a href="#" title="recipe from another site" id="home-cookin">My own cookin' (Manual Entry)</a></h3>
		</div>
		<form name="external-recipe" action=".">
			{{ form.as_p}}
			<input type="submit" value="save" />
		</form>
		<!--<form name="external-recipe" class="hide">
			<input type="text" placeholder="URL to recipe" id="recipe-url"/>
			<label for="recipe-url">URL to recipe</label>
			<input type="text" id="tags-external" placeholder="e.x. Curry, 20 minute recipe" />
			<label for="tags-external">Recipe tags</label>
			<input type="submit" value="Submit your recipe">
		</form>
		
		<form name="new-recipe" class="hide">
			<input id="title" type="text" placeholder="World's best chilli" />
			<label for="title">Name your masterpiece</label>
			<fieldset id="ingredients-list">
				<legend>Ingredients</legend>
				<input type="text" class="measurement" placeholder="1 tbsp" />
				<label for="measurement" class="how-much">How much?</label>
				<input type="text" class="ingredient" placeholder="salt" />
				<label for="ingredient" class="what">What should I put in it?</label>
				<button id="add-another">+ Add another ingredient</button>				
			</fieldset>
			<fieldset id="directions-list">
				<legend>Directions</legend>
				<textarea columns="700" rows="5" class="step" placeholder="Bake at 350"> </textarea>
				<label for="step" class="step-label">What are the steps I should take?</label>	
				<button id="add-step">+ Next Step</button>					
			</fieldset>
			<fieldset id="media">
				<legend>Show us your creation</legend>
				<input type="file" class="picture" />
				<label for="picture">A picture is almost like tasting!</label>
				<input type="file" id="video" />
				<label for="video">A video of how to make this, your the best!</label>
			</fieldset>
			<fieldset>
				<input type="text" id="yield" placeholder="3"/>
				<label for="yield">How many people does this recipe serve?</label>
				<input type="text" id="prep-time" placeholder="90 minutes"/>
				<label for="prep-time">How long does the dish take to create?</label>
				<input type="text" id="tags-external" placeholder="e.x. Curry, 20 minute recipe" />
				<label for="tags-external">How would you describe this dish? (spicy, indian, quick)</label>
			</fieldset>
			<input type="submit" value="Submit your recipe">
		</form>-->
	</section>
{% endblock article %}
{% block rightColumn %}
    	<aside>
    		<section id="profile">
    			<img src="" id="avatar" />
    			<h3>Hello, User Name</h3>
    			<a href="/profile/username" title="profile">Profile</a>
    			<a href="/profile/shopping-list" title="shopping list">Shopping List</a>
    			<a href="/profile/saved-recipes" title="your favorite recipes">Your Favorite Recipes</a>
    			<section id="friends">
    				<h4>Your Favorite Chefs</h4>
    				<ul>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    					<li><a href="/profile/username/wall" title="user name"><img src="" alt="user name" /></a></li>
    				</ul>
    				<a href="/profile/username/friends" title="all friends">See all</a>
    			</section>
    		</section>
			<section id="your-recipes" class="list-mod">
    			<h2><a href="/profile/recipes">Your Submited Recipes</a></h2>
    			<ol>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">This is making me hungry</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Salsa</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Burritos</a></li>
    				<li><a href="/recipe/section/recipe-name" title="Recipe Name">Enchilada</a></li>
    			</ol>
    			<a href="/recipes/most-popular">More Recipes</a>
    		</section>
    		
    	</aside>
{% endblock rightColumn %}
 <!--Right Column Article Template-->


{% block javaScript %}
<script type="text/javascript">
$("#add-another").click(function(){
	$("fieldset .ingredient:first, fieldset .measurement:first, fieldset .what:first, fieldset .how-much:first ").clone().appendTo('#ingredients-list');
	$(this).appendTo('#ingredients-list');
	return false;
});

$("#add-step").click(function(){
	$("fieldset .step:first, fieldset .step-label:first").clone().appendTo('#directions-list');
	$(this).appendTo('#directions-list');
	return false;
});

$("#media .picture").change(function() {
    $(this).clone().appendTo("#media");
});
</script>
{% endblock javaScript %}