{# The recipe submission page #}
{# A single recipe page #}

{% extends "base.html" %}
{% block title %}Recipe Submit{% endblock %}
{%block pageId%}submit{%endblock%}
{% block content %}
	<section id="upload-form" class="content">
		{% if submissionsOpen %}
		{% if user.is_authenticated %}
		
			<form id="new-recipe" name="new-recipe" action="." method="POST"enctype="multipart/form-data">
				<h1 id="instructions">Enlist your recipe in the {{currentTheme.name}} war!</h1>
				<div id="form-messages">
				{% if form.errors %}
					<h2><strong>Button Up Soldier!</strong> Your recipe is not ship shape!</h2> 
				    <ul>
				    {% for error in form.errors %}
				        <li><strong>{{ error|escape }}</strong></li>
				    {% endfor %}
				    </ul>
				{% endif %}
				</div>
				{% csrf_token %}
				<fieldset>
				<div>
		        	<label for="id_name">Recipe Name:<abbr class="required">*</abbr></label>
		        	{{ form.name }}
		       	</div>
		       	<div>
					<label for="id_durations">Recipe Difficulty:<abbr class="required">*</abbr></label>
					{{ form.difficulty }}
				</div>
				<div>
					<label for="id_durations">Recipe Course:<abbr class="required">*</abbr></label>
					{{ form.course }}
				</div>
				<div>
		        	<label for="id_name">Use of Theme and Ingredient:<abbr class="required">*</abbr></label>
		        	{{ form.summary }}
		       	</div>
				<fieldset id="ingredients-list">
					<legend>Ingredients<abbr class="required">*</abbr></legend>
					<div id="ingredientWrap">
						<div class="ingredientEntry">
							<label for="measurement" class="how-much">Amount:</label>
							<input type="text" class="measurement" placeholder="e.g. 1 tbsp" />
							<label for="ingredient" class="what">Ingredient:</label>
							<input type="text" class="ingredient" placeholder="e.g. salt" />
						</div>
					</div>
					<button id="add-another">+ Add another ingredient</button>
					{{ form.ingredients }}		
				</fieldset>

				<div>
					<label for="id_instructions">Cooking Directions:<abbr class="required">*</abbr></label>
					{{ form.instructions }}
				</div>
				<div>	
					<label for="picture">Image:</label>
					{{ form.photo }}
				</div>
				<div>	
					<label for="id_yields">Number of servings:</label>
					{{ form.yields }}
				</div>
				<div>
					<label for="id_durations">Total time required:</label>
					{{ form.durations }}
				</div>
				<div>
					<label for="id_tags">How would you describe this recipe?<abbr class="required">*</abbr></label>
					{{ form.tags }}
					<em class="note">Seperate tags with commas e.g. spicy,italian</em>
				</div>
				<div class="controls">
				<input type="submit" value="Submit your recipe">
				</div>
				<fieldset>
			</form>
		{% else %}
			<script>
				window.location("/accounts/login");
			</script>
		{% endif%}
		{% else %}
			<h1>Sorry, recipe submission is currently closed. But you can prepare for the next battle.
		{% endif %}
	</section>
{% endblock %}
{% block rightColumn %}
{% endblock rightColumn %}
 <!--Right Column Article Template-->

{% block jsincludes %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>

{% endblock %}
{% block javaScript %}

$("#add-another").click(function(){
	var ingrhtml = $("#ingredientWrap .ingredientEntry:first").clone();
	ingrhtml.find(".measurement,.ingredient").val("")
	$("#ingredientWrap").append(ingrhtml);
	return false;
});

$("#new-recipe").submit(function(){
	var sl = $("#ingredientWrap .ingredientEntry")
	var ingJson = []
	sl.each(function(){
		var el = $(this);
		var ing = {
			'measurement': el.find(".measurement").val(),
			'ingredient':el.find(".ingredient").val()
			}
		ingJson.push(ing);
	});
	$("#id_ingredients").val(JSON.stringify(ingJson));
});

$(function() {
		function split( val ) {
			return val.split( /,\s*/ );
		}
		function extractLast( term ) {
			return split( term ).pop();
		}

		$( "#id_tags" )
			.bind( "keydown", function( event ) {
				// don't navigate away from the field on tab when selecting an item
				if ( event.keyCode === $.ui.keyCode.TAB &&
						$( this ).data( "autocomplete" ).menu.active ) {
					event.preventDefault();
				}
			})
			.autocomplete({
				source: function( request, response ) {
					$.getJSON( "/ajax/tag/autocomplete", {
						term: extractLast( request.term )
					}, response );
				},
				search: function() {
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 2 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});
			
			$( "#ingredientWrap .ingredient" ).live( "focus", function(){
				$( this ).bind( "keydown", function( event ) {
					// don't navigate away from the field on tab when selecting an item
					if ( event.keyCode === $.ui.keyCode.TAB &&
							$( this ).data( "autocomplete" ).menu.active ) {
						event.preventDefault();
					}
				})
				.autocomplete({
					source: function( request, response ) {
						$.getJSON( "/ajax/ingredient/autocomplete", {
							term: extractLast( request.term )
						}, response );
					},
					focus: function() {
						// prevent value inserted on focus
						return false;
					}
				});
			})
	});

//Validation
	jQuery.validator.setDefaults({ 
		errorElement: "em",
		success: function(label) {
			label.addClass("valid");
		},
		showErrors: function(errorMap, errorList) {
			var numErrors = this.numberOfInvalids(),
				errorContainerVisible = errorContainer.is(':visible');
				
			this.defaultShowErrors();
			
			if (numErrors && errorContainerVisible) {
				errorContainer
					.html("Your form contains " + numErrors + " error" + ((numErrors == 1) ? '' : "s") + " that must be corrected before continuing")
					.show();
				$(this.currentForm).removeClass('valid');
			}
			else if (errorContainerVisible) {
				errorContainer
					.text('All errors have been corrected, please continue')
					.show();
				$(this.currentForm).addClass('valid');
			}
			else {
				errorContainer.hide();
			}
		},
	 	errorPlacement: function(error, element) {
	 		// Listed elements
			if ( (element.attr("type") == "radio") || (element.attr("type") == "checkbox") ) {
				error.insertAfter($(element).parents("ul").eq(0)).wrap("<span class=\"type-list\"></span>");
			}
			
			// Select elments
			else if (element.is("select") && $(element).parent("div.group-date").size()) {
				// Insert after last select element
				error.insertAfter($("select:last", element.parent("div.group-date")));
			}
			// All other
			else {
				error.insertAfter(element);
			}
		},
		focusInvalid: false
	});
	
	// select a placeholder for form messages
	errorContainer = $('#form-messages');
		
	// Bind event to invalid form submission
	$("div.semantic-form").parent("form").bind("invalid-form.validate", function(e, validator) {
		errorContainer.show();
		$('html,body').animate( 
			{scrollTop: $("div#form-messages").offset().top}, 1000
		);
	});
	
	// Validate on hide conditional section event
	$("div.semantic-form").parent("form").bind("clearConditionalSection", function (event, conditionalSection) {
		if ($("#form-messages:visible").size()) {
			$(this).valid();
		}
	});
	
	// Override default messages
	$.extend($.validator.messages, {  
		required : '<img src="#" alt="Error" />This information is required',
		requiredDate : "This information is required ",
		digits : "Please enter a numeric value",
	});
	
$("#new-recipe").validate();
{% endblock javaScript %}