{# A single recipe page #}
{% extends "base.html" %}
{% block title %} {{ recipe.name }}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load brabeion_tags %}
<article class="content">
	<h1 class="fn">{{ theme.name }}</h1>
	<section id="media">
		{% for photo in theme.photos.all %}			
			{% thumbnail photo.photo "300x300" crop="center" as im %}
			<a href="{{ theme.get_absolute_url }}" title="{{ theme.name }}" class="fn" rel="bookmark"><img src="{{ im.url }}" alt="{{ theme.name }}" width="{{ im.width }}" height="{{ im.height }}" class="photo"/></a>
			{% endthumbnail %}		
		{% endfor %}
    </section>
    <h3 class="yield">Ingredient: {{ theme.ingredient }}</h3>
    <h3 class="yield">Theme: {{ theme.theme }}</h3>
	<section id="themesummary">
		{{ theme.summary|linebreaks }}
	</section>
	<div id="tabs">
	<ul>
		{% if theme.winning_recipe %}
		<li><a href="#winningRecipes">Winning Recipes</a></li>
		{% endif %}
		<li><a href="#all-recipes">All Recipes</a></li>
		<li><a href="#comments">Comments</a></li>
	</ul>
	{% include "winning_theme_display.html" %}
	<section id="all-recipes">
	{% include "recipes_snippet.html" with recipes=theme.recipes.all sectiontitle="All Recipes" showImages="True" %}
	</section>
	<section id="comments">
	{% if user.is_authenticated %}
    {% load comments %}
    {% load avatar_tags %}
    	
    	
    	{% get_comment_form for theme as form %}
    	
	    <form action="{% comment_form_target %}" id="commentform" method="POST">{% csrf_token %}
	    	<h1>Recipe Reviews</h1>
	    	<fieldset>
	    	<input type="hidden" name="next" value="{{ theme.get_absolute_url }}#comments" />

	    	{% for field in form %}
	    		{% if field.is_hidden %}
	    			{{ field }}
	    		{% endif %}
	    	{% endfor %}
	    	
	    	<input type="hidden" name="name" value="{{ user.username }}" />
	    	<input type="text" name="honeypot" size="64" style="display:none;" />
	    	<div>
	    	<label for="id_comment">Add your comment</label>
	    	<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
	    	</div>
	    	<div class="controls">
	    	<input type="submit" name="submit" class="submit-post" value="Post Comment" />
	    	</div>
	    	</fieldset>
		</form>
    	{% get_comment_list for theme as comment_list %}
    	{% for comment in comment_list %}
        <article>
            <span><a href="/profiles/{{comment.user.username}}" title="link to profile page" class="avatar">{% avatar comment.user 32 %}</a><h3 class="username"><a href="/profiles/{{comment.user.username}}" title="link to profile page" rel="bookmark">{{comment.user.get_profile.chefRank.name }} {{ comment.user.username }}</a> said:</h3> </span>
            {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
        </article>
        {% endfor %}
    
    {% else %}
		<p><a href="/login/">Please login to comment.</a></p>
    {% endif %}
	</section>

</article>

{% endblock %}
{% block rightColumn %}
{% include "standard-right-column.html" %}
{% endblock rightColumn %}
{% block javaScript %}
$(function() {
	$( "#tabs" ).tabs();
});
{% endblock %}