{% if currentTheme %}
<section id="currTheme">
<h1><a href="{{ currentTheme.get_absolute_url }}" title="{{ currentTheme.name }}" class="bookmark" rel="bookmark">{{currentTheme.name}}</a></h1>
<dl>
{% if currentTheme.ingredient %}
<dt>Ingredient:</dt>
<dd>{{currentTheme.ingredient}}</dd>
{% endif %}
{% if currentTheme.theme %}
<dt>Theme:</dt>
<dd>{{currentTheme.theme}}</dd>
{% endif %}
</dl>
<p>{{currentTheme.summary|linebreaks}}</p>
<p class="themeinfo">Recipe submission open from {{currentTheme.start_submit}} till {{currentTheme.end_submit}}</p>
<p class="themeinfo">Voting will be open {{currentTheme.start_vote}} till {{currentTheme.end_vote}}</p>
</section>
{% endif %}