<section id="profile" >
    {% if user.is_authenticated %}
        <img src="{{user.avatar}}" alt="your avatar" />
        <a href="/profile/{{user.username}}" title="link to profile page" class="userName">{{user.username}}</a>
        <a href="/logout" id="log-off" title="log off user">Log Off</a>
        <a href="/profile/{{user.username}}" title="link to profile page" class="profile-tools">Profile</a>
    {% else %}
        <section id="login">
			<a href="/accounts/login" title="login">Login</a>
			<a href="/register" title="register">Register</a>
        </section>
    {% endif %}
</section>
