<section id="profile" >
    {% if user.is_authenticated %}
        <a href="/profiles/{{user.username}}" title="link to profile page" class="userName">{{user.username}}</a>
        <a href="/accounts/logout" id="log-off" title="log off user">Log Off</a>
        <a href="/profiles/edit/" title="link to profile page" class="profile-tools">Edit Profile</a>
    {% else %}
        <section id="login">
			<a href="/accounts/login" title="login">Login</a>
			<a href="/accounts/register" title="register">Enlist Today!</a>
        </section>
    {% endif %}
</section>
